[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/hacker"]
	path = themes/hacker
	url = https://github.com/patrickodacre/gohugo-hacker
