[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/patrickwho-hacker-theme"]
	path = themes/patrickwho-hacker-theme
	url = https://github.com/patrickodacre/patrickwho-hacker-theme
